


<table class="table table-hover w-75 my-5">
    <thead>
        <tr class="line">
            <th scope="col">Matricule</th>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Rôle</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let donnee of donnees | paginate: {itemsPerPage:5, currentPage:page, totalItems:totalLenght }; let i = index ">
            <td></td>
            <td>{{ donnee.prenom }}</td>
            <td>{{ donnee.nom }}</td>
            <td>{{ donnee.email }}</td>
            <td>{{ donnee.role }}</td>
            <td>
                <button class="btn link" (click)="deleteUser(donnee._id, i)"><i class="bi bi-archive"></i></button>
                <button class="btn link" data-toggle="modal" data-target="#modifier" ><i class="bi bi-pencil-square"></i></button>
                <button class="btn link"><i class="bi bi-arrow-left-right"></i></button>
            </td>
        </tr>
    </tbody>
  </table>
 <!-- pagination -->
  <div class="pagination fixed-bottom justify-content-center">
    <pagination-controls (pageChange)="page=$event"></pagination-controls>
  </div> 
