
  <table class="table table-hover w-75 my-5">
    <thead>
        <tr class="line">
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Rôle</th>
            

            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let donnee of Users | paginate: {itemsPerPage:5, currentPage:page, totalItems:totalLenght };let i = index">
            <td>{{ donnee.prenom }}</td>
            <td>{{ donnee.nom }}</td>
            <td>{{ donnee.email }}</td>
            <td>{{ donnee.role }}</td>
            

            <td>
              <button class="btn link" (click)="changArchive(donnee._id, donnee.etat)">
                <i class="bi bi-arrow-down-square"></i>
              </button>
              <button class="btn link" data-toggle="modal" data-target="#modifier" routerLink="/modif/{{donnee._id}}">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button class="btn link" (click)="changeRole(donnee._id, donnee.role)">
                <i class="bi bi-arrow-left-right" ></i>
              </button>
            </td>
        </tr>
    </tbody>
  </table>

  <div class="pagination fixed-bottom justify-content-center">
    <pagination-controls (pageChange)="page=$event"></pagination-controls>
  </div> 