
  <table class="table table-hover w-75 my-5">
    <thead>
        <tr class="line">
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Rôle</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let donnee of Users;let i = index">
            <td>{{ donnee.prenom }}</td>
            <td>{{ donnee.nom }}</td>
            <td>{{ donnee.email }}</td>
            <td>{{ donnee.role }}</td>
            <td>
              <button class="btn link" (click)="delete(donnee._id, i)">
                <i class="bi bi-archive"></i>
              </button>
              <button class="btn link" data-toggle="modal" data-target="#modifier" routerLink="/modif/{{donnee._id}}">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button class="btn link" (click)="changeRole(donnee._id, donnee.role)">
                <i class="bi bi-arrow-left-right" ></i>
              </button>
            </td>
        </tr>
    </tbody>
  </table>


<!-- Modal -->
<!-- <div class="modal fade" id="modifier" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Modifier</h5>
               </div>
                  <div class="modal-body">
                      <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
                          <label for='prenom'>Prenom</label>
                          <input type="text" id="" name="prenom" class="form-control" value="">
                          <br />
                          <label for='nom'>Nom</label>
                          <input type="text" name="nom" class="form-control" value="">
                          <br />
                          <label for='email'>Adresse email</label>
                          <input type="email" name="email" class="form-control" value="">
                          <br />
                          <button type="submit" class="btn btn-success">Sauvegarder</button>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                  </div>
          </div>
      </div>
  </div> -->