.row {
    width: 500px;
    margin: 0px auto;
    border: 1px solid #e493a3;
    box-shadow: 7px 2px 2px #e493a3;
    border-radius: 5px;
}
.row form {
    padding: 30px;
}

.profil {
    width: 80px;
    height: 80px;
}
a{
    font-size: 17px;
}