<header class="header">
    <div class="menu_admin">
        <div class="infos">
            <div>
                <div class="profil d-flex justify-center">
                    <a routerLink="/pageAdmin">
                    <img class="img-fluid rounded-circle" [src]="imageUrl" alt="">
                    </a>
                </div>
            </div>
            <div class="nom">
                <h3>Prenom nom</h3>
                <p>Matricule</p>
            </div>
        </div>
        <div class="end">
            <a class="m-1" ><i style="font-size: 20px;" class="bi bi-person-plus"></i> Ajouter</a>
            <a class="m-1" routerLink="/pageArchive"><i style="font-size: 20px;" class="bi bi-person-x"></i> Archives</a>
            <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <i class="bi bi-gear-fill"></i>
            </button>    
        </div>
    </div>
</header>