<app-header></app-header>
<app-tableau></app-tableau>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Paramétres</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="setting m-4">
        <a href=""><i class="bi bi-sliders2"></i> Changer mon mot de passe </a>
    </div>
    <div class="setting m-4">
        <a href=""><i class="bi bi-person-fill-gear"></i> Changer la photo de profil </a>
    </div>
    <div class="setting m-4">
        <a href=""><i class="bi bi-box-arrow-right"></i> Deconnexion </a>
    </div>
  </div>
</div>
