
<div class="my-5">
<div class="form-group col-md-4">
  <div class="input-group">
  <span class="input-group-text" id="inputGroupPrepend2"><i class="bi bi-search"></i></span>
  <input
    type="text"
    class="form-control"
    placeholder="Rechercher un utilisateur"
    [(ngModel)]="filterTerm"/>
  </div>
</div>

<table class="table table-hover w-75 my-5">
    <thead>
        <tr class="line">
            <th class="col-lg-2">Prenom</th>
            <th class="col-lg-2">Nom</th>
            <th class="col-lg-2">Email</th>
            <th class="col-lg-2">Rôle</th>
            <th class="col-lg-2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let donnee of Users | filter: filterTerm | paginate: {itemsPerPage:7, currentPage:page, totalItems:totalLenght  };">
            <td>{{ donnee.prenom }}</td>
            <td>{{ donnee.nom }}</td>
            <td>{{ donnee.email }}</td>
            <td>{{ donnee.role }}</td>


            <td>
              <button class="btn link" (click)="dearchiveUser(donnee._id, donnee.etat)">
                <i class="bi bi-arrow-up-square"></i>
              </button>

            </td>
        </tr>
    </tbody>
  </table>
</div>
  <!-- pagination -->
  <div class="pagination fixed-bottom justify-content-center">
    <pagination-controls (pageChange)="page=$event"></pagination-controls>
  </div>
